.vscode
*.binlog
.DS_Store
_build
_doxygen
_skbuild
.gradle

/build_*
/install_*
/dist

__pycache__
*.egg-info
wheelhouse

target
.cache

.cursor
.venv
uv.lock

node_modules/


simpleble/cmake_install.cmake

simpleble/CMakeCache.txt

simpleble/CMakeFiles/*

simpleble/VERSION

simpleble/simpleble.pc

simpleble/Makefile

*.a

simpleble/export/simpleble/export.h

simpleble/compile_commands.json
